.wall{
    width: 500px;
    height: 300px;
    
    margin: 12px auto;
    
}
body
  {background-image: url(download.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1000px ;
    background-attachment: fixed;
    padding: 10px;
    }
    h1{
        font-size: xx-large;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
